.send-again {
  font-size: 0.7rem;
  text-align: center;
}

.send-again-link {
  text-decoration: none !important;
  text-align: center;
  font-size: 0.8rem;
}


#error-message {

  .modal-body {
    padding: 26px 11px;
  }

  button {
    width: 180px;
  }
}