.button {
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
  background: linear-gradient(90.27deg, #022B59 -6.86%, #3795C9 100%);
  color: white !important;
  transition: all 0.2s;
  border: none !important;

  &:hover {
    background: linear-gradient(90.27deg, darken(#022B59, 10) -6.86%, darken(#3795C9, 10) 100%);
  }

  &:active {
    transition: none;
    background: linear-gradient(90.27deg, #022B59 -6.86%, #3795C9 100%);
  }
}
button.button[disabled] {
  border: 1px solid #BFBFBF !important;
  background: transparent;
  color: black !important;
}

button.button.disabled {
  opacity: 0.7;
  pointer-events: none;
  cursor: not-allowed;;
}

.button.large {
  height: 53px;
}

.btn-group {
  background: #EEEEEE;
  border-radius: 11px;

  .btn {
    color: black !important;
    border: none !important;
    padding: 1.2rem 5rem;
    position: relative;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 5;
      transform: translate(-50%, -50%);
    }
  }

  .btn {
    background: none !important;
  }

}

.selection {
  transition: left 0.2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.16);
  border-radius: 11px;
  height: calc(100% - 6px);
  margin: 3px;

}