.button.large {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 30px 0;
  border: 1px solid #BFBFBF;
  box-sizing: border-box;
  border-radius: 8px;
}

/*# sourceMappingURL=button.css.map */
