div.form-control {
  height: unset !important;
  .clear-button {
    content: '';
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    pointer-events: all;
    transform: translateY(-50%);
    right: calc(.375em + .1875rem);
    background: url('../public/icons/Group 98.svg');
    color: white;
  }

  .clear-button ~ input {
    padding-right: 2rem !important;
  }

}


.form-group {
  .form-label {
    color: #787878;
  }
}

.form-group.d-flex {
  align-items: center;
  justify-content: space-between;

  label {
    margin-right: 15px;
    margin-bottom: 0 !important;
  }

  div.form-control {
    max-width: 80%;
    flex: 1;
  }
}

input.small, select.small, textarea.small, .selectize-input.small {
  height: 29px !important;
}

div.form-control {
  padding: 0 !important;
  width: inherit;
  border-radius: 8px;
  position: relative;
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out;

  > input, > select, > textarea, > .selectize-input {
    border: double 1px transparent !important;
    resize: none !important;
    margin: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  > input:focus, > input:hover, > select:focus, > select:hover, > textarea:focus, > textarea:hover, > .selectize-input:focus, > .selectize-input:hover, input.active {
    color: black;
    border: double 1px transparent !important;
    background-image: linear-gradient(white, white),
    linear-gradient(to right, #022B59, #3795C9);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

  textarea {
    height: 120px;
    min-height: 120px;
  }

  input, select, .selectize-input {
    height: 43px;
  }

  select, .selectize-input {
    option {
      margin: -.375rem -0.75rem -.375rem -.75rem;
    }
  }

}

div.form-control.is-invalid {
  border: 1px solid #dc3545 !important;

  &:hover {
    background: unset !important;
    border: 1px solid #dc3545 !important;
  }
}

input.form-control, select.form-select, textarea.form-control, .selectize-input.form-control {
  border: none !important;
  border-radius: inherit;
  box-shadow: none !important;
  height: 100%;
}

div.form-control.shadowed {
  border-color: transparent;
  border-radius: 20px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12) !important;

}

input.form-control.is-invalid:not(.text-center), select.form-control.is-invalid:not(.text-center), textarea.form-control.is-invalid:not(.text-center), .selectize-input.form-control.is-invalid:not(.text-center) {
  border-radius: 7px;
}

input.form-control[disabled], select.form-select[disabled], textarea.form-select[disabled], .selectize-input.form-control[aria-disabled] {

}

.selectize-control {
  height: 43px;
  padding: 0 !important;
  width: inherit;

  .opacity-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(white, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4), transparent, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8), white);
    border-radius: 8px;

    &.overflow {
      right: 20px;
    }
  }

  .selectize-dropdown {
    background: #FFFFFF;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    top: 109% !important;
    border: none;
    padding: 0.5rem 0;

    div.option {
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      display: flex;
      justify-content: space-between;

      div {
        width: 30%;

        span {
          float: right;
        }
      }
    }
  }


  .selectize-input {
    height: 43px;
    padding-right: calc(0.75rem + 16px);
    border-radius: 8px !important;
    box-shadow: none !important;
    border: double 1px #ced4da !important;

    &:before {
      display: none;
    }

    &:after {
      content: "" !important;
      width: 1rem !important;
      display: block !important;
      background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3e%3cpath fill="none" stroke="%23343a40" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 5l6 6 6-6"/%3e%3c/svg%3e') !important;
      background-repeat: no-repeat !important;
      background-size: 16px 12px !important;
      height: 12px !important;
      position: absolute;
      right: 0.75rem !important;
      transform: translate(19%, -20%);
      top: 50%;
      border: none !important;
    }

    &:hover, &.dropdown-active {
      border: double 1px transparent !important;
      background-image: linear-gradient(white, white),
      linear-gradient(to right, #022B59, #3795C9) !important;
      background-origin: border-box !important;
      background-clip: padding-box, border-box !important;
      background-position: unset !important;
      background-size: unset !important;
    }

    &.dropdown-active {
      &:after {
        top: calc(50% + 1px) !important;
      }
    }

    input {
      font-size: 1rem;
      line-height: 1.5;
    }

  }


  .item {
    font-size: 1rem;
    line-height: 1.5;
  }
}

div.form-control.is-invalid {
  border: none;

  > input:focus, > input:hover, > select:focus, > select:hover, > textarea:focus, > textarea:hover, > .selectize-input:focus, > .selectize-input:hover, input.active {
    background-position: unset !important;
    background-size: unset !important;
  }
}

form.validation {
  div.form-control {
    input.is-invalid, select.is-invalid, textarea.is-invalid, {
      border: 1px solid red !important;
      color: #F62140 !important;
    }

    label.is-invalid {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(100%, -50%);
      padding: 1rem;
      background: #FFFFFF;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 32px rgba(0, 0, 0, 0.16);
      border-radius: 8px;
      max-width: 210px;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.154px;

      &:after {
        content: '';
        width: 30px;
        height: 30px;
        position: absolute;
        background: white;
        z-index: -1;
        left: 0;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
}

.form-control.is-invalid {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1.79785C4.2 1.79785 1 4.99785 1 8.79785C1 12.5979 4.2 15.7979 8 15.7979C11.8 15.7979 15 12.6979 15 8.79785C15 4.89785 11.9 1.79785 8 1.79785ZM7.5 4.79785H8.5V9.79785H7.5V4.79785ZM8 12.9979C7.6 12.9979 7.2 12.5979 7.2 12.1979C7.2 11.7979 7.5 11.3979 8 11.3979C8.4 11.3979 8.8 11.7979 8.8 12.1979C8.8 12.5979 8.4 12.9979 8 12.9979Z' fill='%23FF5050'/%3E%3C/svg%3E");
}

.datepicker.datepicker-dropdown {
  &:after, &:before {
    display: none;
  }

  left: 50% !important;
  transform: translateX(-50%);
  margin-top: -10px;
  background: #FFFFFF !important;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12) !important;
  border-radius: 11px !important;
  padding: 2rem;
  font-size: 18px !important;

  .datepicker-days {
    font-size: 15px !important;

    td {
      width: 32px;
      line-height: 32px;
      border-radius: 32px;
      border: double 1px transparent !important;

      &.active {
        background-image: linear-gradient(white, white),
        linear-gradient(to right, #022B59, #3795C9);
        background-origin: border-box;
        background-clip: padding-box, border-box;
        color: unset !important;
      }

      &:nth-of-type(6), &:nth-of-type(7) {
        color: #F62140;
      }

      &.old.day, &.new.day {

        &:nth-of-type(6), &:nth-of-type(7) {
          opacity: 0.5;
        }
      }
    }

    thead {

      tr:nth-of-type(2) {
        th {
          font-size: 18px !important;
          padding-bottom: 1rem;
        }
      }

      tr:nth-of-type(3) {
        th {
          font-weight: 400 !important;
          &:nth-of-type(6), &:nth-of-type(7) {
            color: #F62140;
          }
        }
      }
    }
  }
}
