.login-container {
  max-width: 500px;
}
.login-container input, .login-container select, .login-container textarea, .login-container .selectize-input {
  background: #F6F6F6;
  color: #A4AAAE;
}
.login-container input:focus, .login-container select:focus, .login-container textarea:focus, .login-container .selectize-input:hover, .login-container input:hover, .login-container select:hover, .login-container textarea:hover, .login-container .selectize-input.dropdown-active {
  background: unset;
  color: unset;
}
.login-container input[disabled], .login-container textarea[disabled], .login-container select[disabled] {
  background: #F6F6F6;
  color: #A4AAAE;
}
.login-container input::placeholder, .login-container textarea::placeholder {
  color: #A4AAAE !important;
}

/*# sourceMappingURL=auth.css.map */
