@import "button.scss";
@import "form.scss";
@import "navbar.scss";
@import "utils.scss";
@import "login.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";


body {
  min-height: 100vh;
}

.main {
  margin-top: 2.5rem;
}

.modal.fade {
  background: rgba(0,0,0,0.7);
}

.card {
  padding: 80px;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 20px;
  position: relative;

  .card-note {
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF4F4;
    border-radius: 20px 0;
    padding: 0.7rem 20px 0.7rem 20px;
    font-size: 0.9rem;
    color: #FF8181;
  }
}

.card.has-color-black .card-body .form-group .form-label {
  color: black !important;
}

.card.small-padd {
  padding: 40px;
}


.invalid-message {
  font-size: 0.8rem;
  text-align: center;

  a {
    text-decoration: none !important;
    color: #022B59;
  }
}

.invisible-input {
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
}
