@import "~bootstrap/dist/css/bootstrap.min.css";
.button {
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
  background: linear-gradient(90.27deg, #022B59 -6.86%, #3795C9 100%);
  color: white !important;
  transition: all 0.2s;
  border: none !important;
}
.button:hover {
  background: linear-gradient(90.27deg, #011327 -6.86%, #2c77a1 100%);
}
.button:active {
  transition: none;
  background: linear-gradient(90.27deg, #022B59 -6.86%, #3795C9 100%);
}

button.button[disabled] {
  border: 1px solid #BFBFBF !important;
  background: transparent;
  color: black !important;
}

button.button.disabled {
  opacity: 0.7;
  pointer-events: none;
  cursor: not-allowed;
}

.button.large {
  height: 53px;
}

.btn-group {
  background: #EEEEEE;
  border-radius: 11px;
}
.btn-group .btn {
  color: black !important;
  border: none !important;
  padding: 1.2rem 5rem;
  position: relative;
}
.btn-group .btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}
.btn-group .btn {
  background: none !important;
}

.selection {
  transition: left 0.2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.16);
  border-radius: 11px;
  height: calc(100% - 6px);
  margin: 3px;
}

div.form-control {
  height: unset !important;
}
div.form-control .clear-button {
  content: "";
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  pointer-events: all;
  transform: translateY(-50%);
  right: calc(.375em + .1875rem);
  background: url("../public/icons/Group 98.svg");
  color: white;
}
div.form-control .clear-button ~ input {
  padding-right: 2rem !important;
}

.form-group .form-label {
  color: #787878;
}

.form-group.d-flex {
  align-items: center;
  justify-content: space-between;
}
.form-group.d-flex label {
  margin-right: 15px;
  margin-bottom: 0 !important;
}
.form-group.d-flex div.form-control {
  max-width: 80%;
  flex: 1;
}

input.small, select.small, textarea.small, .selectize-input.small {
  height: 29px !important;
}

div.form-control {
  padding: 0 !important;
  width: inherit;
  border-radius: 8px;
  position: relative;
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
}
div.form-control > input, div.form-control > select, div.form-control > textarea, div.form-control > .selectize-input {
  border: double 1px transparent !important;
  resize: none !important;
  margin: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
}
div.form-control > input:focus, div.form-control > input:hover, div.form-control > select:focus, div.form-control > select:hover, div.form-control > textarea:focus, div.form-control > textarea:hover, div.form-control > .selectize-input:focus, div.form-control > .selectize-input:hover, div.form-control input.active {
  color: black;
  border: double 1px transparent !important;
  background-image: linear-gradient(white, white), linear-gradient(to right, #022B59, #3795C9);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
div.form-control textarea {
  height: 120px;
  min-height: 120px;
}
div.form-control input, div.form-control select, div.form-control .selectize-input {
  height: 43px;
}
div.form-control select option, div.form-control .selectize-input option {
  margin: -0.375rem -0.75rem -0.375rem -0.75rem;
}

div.form-control.is-invalid {
  border: 1px solid #dc3545 !important;
}
div.form-control.is-invalid:hover {
  background: unset !important;
  border: 1px solid #dc3545 !important;
}

input.form-control, select.form-select, textarea.form-control, .selectize-input.form-control {
  border: none !important;
  border-radius: inherit;
  box-shadow: none !important;
  height: 100%;
}

div.form-control.shadowed {
  border-color: transparent;
  border-radius: 20px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12) !important;
}

input.form-control.is-invalid:not(.text-center), select.form-control.is-invalid:not(.text-center), textarea.form-control.is-invalid:not(.text-center), .selectize-input.form-control.is-invalid:not(.text-center) {
  border-radius: 7px;
}

.selectize-control {
  height: 43px;
  padding: 0 !important;
  width: inherit;
}
.selectize-control .opacity-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(white, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4), transparent, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8), white);
  border-radius: 8px;
}
.selectize-control .opacity-layer.overflow {
  right: 20px;
}
.selectize-control .selectize-dropdown {
  background: #FFFFFF;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  top: 109% !important;
  border: none;
  padding: 0.5rem 0;
}
.selectize-control .selectize-dropdown div.option {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}
.selectize-control .selectize-dropdown div.option div {
  width: 30%;
}
.selectize-control .selectize-dropdown div.option div span {
  float: right;
}
.selectize-control .selectize-input {
  height: 43px;
  padding-right: calc(0.75rem + 16px);
  border-radius: 8px !important;
  box-shadow: none !important;
  border: double 1px #ced4da !important;
}
.selectize-control .selectize-input:before {
  display: none;
}
.selectize-control .selectize-input:after {
  content: "" !important;
  width: 1rem !important;
  display: block !important;
  background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3e%3cpath fill="none" stroke="%23343a40" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 5l6 6 6-6"/%3e%3c/svg%3e') !important;
  background-repeat: no-repeat !important;
  background-size: 16px 12px !important;
  height: 12px !important;
  position: absolute;
  right: 0.75rem !important;
  transform: translate(19%, -20%);
  top: 50%;
  border: none !important;
}
.selectize-control .selectize-input:hover, .selectize-control .selectize-input.dropdown-active {
  border: double 1px transparent !important;
  background-image: linear-gradient(white, white), linear-gradient(to right, #022B59, #3795C9) !important;
  background-origin: border-box !important;
  background-clip: padding-box, border-box !important;
  background-position: unset !important;
  background-size: unset !important;
}
.selectize-control .selectize-input.dropdown-active:after {
  top: calc(50% + 1px) !important;
}
.selectize-control .selectize-input input {
  font-size: 1rem;
  line-height: 1.5;
}
.selectize-control .item {
  font-size: 1rem;
  line-height: 1.5;
}

div.form-control.is-invalid {
  border: none;
}
div.form-control.is-invalid > input:focus, div.form-control.is-invalid > input:hover, div.form-control.is-invalid > select:focus, div.form-control.is-invalid > select:hover, div.form-control.is-invalid > textarea:focus, div.form-control.is-invalid > textarea:hover, div.form-control.is-invalid > .selectize-input:focus, div.form-control.is-invalid > .selectize-input:hover, div.form-control.is-invalid input.active {
  background-position: unset !important;
  background-size: unset !important;
}

form.validation div.form-control input.is-invalid, form.validation div.form-control select.is-invalid, form.validation div.form-control textarea.is-invalid {
  border: 1px solid red !important;
  color: #F62140 !important;
}
form.validation div.form-control label.is-invalid {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  padding: 1rem;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 32px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  max-width: 210px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
}
form.validation div.form-control label.is-invalid:after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background: white;
  z-index: -1;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.form-control.is-invalid {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1.79785C4.2 1.79785 1 4.99785 1 8.79785C1 12.5979 4.2 15.7979 8 15.7979C11.8 15.7979 15 12.6979 15 8.79785C15 4.89785 11.9 1.79785 8 1.79785ZM7.5 4.79785H8.5V9.79785H7.5V4.79785ZM8 12.9979C7.6 12.9979 7.2 12.5979 7.2 12.1979C7.2 11.7979 7.5 11.3979 8 11.3979C8.4 11.3979 8.8 11.7979 8.8 12.1979C8.8 12.5979 8.4 12.9979 8 12.9979Z' fill='%23FF5050'/%3E%3C/svg%3E");
}

.datepicker.datepicker-dropdown {
  left: 50% !important;
  transform: translateX(-50%);
  margin-top: -10px;
  background: #FFFFFF !important;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12) !important;
  border-radius: 11px !important;
  padding: 2rem;
  font-size: 18px !important;
}
.datepicker.datepicker-dropdown:after, .datepicker.datepicker-dropdown:before {
  display: none;
}
.datepicker.datepicker-dropdown .datepicker-days {
  font-size: 15px !important;
}
.datepicker.datepicker-dropdown .datepicker-days td {
  width: 32px;
  line-height: 32px;
  border-radius: 32px;
  border: double 1px transparent !important;
}
.datepicker.datepicker-dropdown .datepicker-days td.active {
  background-image: linear-gradient(white, white), linear-gradient(to right, #022B59, #3795C9);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  color: unset !important;
}
.datepicker.datepicker-dropdown .datepicker-days td:nth-of-type(6), .datepicker.datepicker-dropdown .datepicker-days td:nth-of-type(7) {
  color: #F62140;
}
.datepicker.datepicker-dropdown .datepicker-days td.old.day:nth-of-type(6), .datepicker.datepicker-dropdown .datepicker-days td.old.day:nth-of-type(7), .datepicker.datepicker-dropdown .datepicker-days td.new.day:nth-of-type(6), .datepicker.datepicker-dropdown .datepicker-days td.new.day:nth-of-type(7) {
  opacity: 0.5;
}
.datepicker.datepicker-dropdown .datepicker-days thead tr:nth-of-type(2) th {
  font-size: 18px !important;
  padding-bottom: 1rem;
}
.datepicker.datepicker-dropdown .datepicker-days thead tr:nth-of-type(3) th {
  font-weight: 400 !important;
}
.datepicker.datepicker-dropdown .datepicker-days thead tr:nth-of-type(3) th:nth-of-type(6), .datepicker.datepicker-dropdown .datepicker-days thead tr:nth-of-type(3) th:nth-of-type(7) {
  color: #F62140;
}

.navbar {
  background: #FFFFFF;
  box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.06);
  padding: 1rem 6rem;
}

.fs-7 {
  font-size: 0.9rem !important;
}

.mb-7 {
  margin-bottom: 2.5rem;
}

.radio-label {
  margin-bottom: 0;
}

.mt-7 {
  margin-top: 2.5rem;
}

.mt-6 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 3rem;
}

.mb-6 {
  margin-bottom: 2rem;
}

.mt-6 {
  margin-top: 2rem;
}

.m-6 {
  margin: 2rem;
}

.p-6 {
  padding: 2rem;
}

.mx-6rem {
  margin-left: 6rem;
  margin-right: 6rem;
}

.px-6rem {
  padding-left: 6rem;
  padding-right: 6rem;
}

.w-content {
  width: max-content;
}

.hidden-pin-code {
  outline: none;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden-pin-code .star {
  margin: 0.3rem;
  font-weight: 600;
  color: #303030;
  opacity: 0.8;
}
.hidden-pin-code .star.active {
  opacity: 0.6;
}

.pin-code-wrapper {
  position: relative;
}
.pin-code-wrapper .floating-error {
  position: absolute;
  height: calc(60px + 0.6rem);
  top: 0;
  width: 21px;
  right: 17%;
}

.send-again {
  font-size: 0.7rem;
  text-align: center;
}

.send-again-link {
  text-decoration: none !important;
  text-align: center;
  font-size: 0.8rem;
}

#error-message .modal-body {
  padding: 26px 11px;
}
#error-message button {
  width: 180px;
}

.reg-text {
  font-size: 14px;
  line-height: 1.2;
  max-height: calc(100vh - 329px - 11rem);
  overflow-y: scroll;
  color: #4D4D4D;
}
.reg-text b {
  font-weight: 500;
}

div.circle {
  position: relative;
  width: max-content;
  display: block;
  overflow: hidden;
  margin: auto;
  border-radius: 500px;
  object-fit: cover;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background: #F2F2F2;
}
div.circle img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  font-size: 23px;
}

#small-avatar .jcrop-stage {
  display: block;
  margin: auto;
}
#small-avatar .jcrop-stage img {
  left: 0;
  z-index: 0;
  right: 0;
  bottom: 0;
  top: 0;
  max-width: 700px;
  max-height: 40vh;
}
#small-avatar .jcrop-stage .jcrop-widget {
  background: black;
  opacity: 0.5;
}
#small-avatar .jcrop-stage .jcrop-widget:after {
  content: "";
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#small-avatar .jcrop-stage .jcrop-widget:focus {
  outline: none;
  border: 1px white solid !important;
}

div.circle.empty img {
  object-fit: none !important;
}

div.profile {
  width: 195px;
  height: 195px;
}

.profile-card {
  max-width: 900px;
}

.login-container {
  max-width: 500px !important;
}
.login-container input, .login-container select, .login-container textarea, .login-container .selectize-input {
  background: #F6F6F6;
  color: #A4AAAE;
}
.login-container input:focus, .login-container select:focus, .login-container textarea:focus, .login-container .selectize-input:hover, .login-container input:hover, .login-container select:hover, .login-container textarea:hover, .login-container .selectize-input.dropdown-active {
  background: unset;
  color: unset;
}
.login-container input[disabled], .login-container textarea[disabled], .login-container select[disabled] {
  background: #F6F6F6;
  color: #A4AAAE;
}
.login-container input::placeholder, .login-container textarea::placeholder {
  color: #A4AAAE !important;
}

body {
  min-height: 100vh;
}

.main {
  margin-top: 2.5rem;
}

.modal.fade {
  background: rgba(0, 0, 0, 0.7);
}

.card {
  padding: 80px;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 20px;
  position: relative;
}
.card .card-note {
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF4F4;
  border-radius: 20px 0;
  padding: 0.7rem 20px 0.7rem 20px;
  font-size: 0.9rem;
  color: #FF8181;
}

.card.has-color-black .card-body .form-group .form-label {
  color: black !important;
}

.card.small-padd {
  padding: 40px;
}

.invalid-message {
  font-size: 0.8rem;
  text-align: center;
}
.invalid-message a {
  text-decoration: none !important;
  color: #022B59;
}

.invisible-input {
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
}

/*# sourceMappingURL=main.css.map */
