div.circle {
  position: relative;
  width: max-content;
  display: block;
  overflow: hidden;
  margin: auto;
  border-radius: 500px;
  object-fit: cover;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background: #F2F2F2;
}
div.circle img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  font-size: 23px;
}

#small-avatar .jcrop-stage {
  display: block;
  margin: auto;
}
#small-avatar .jcrop-stage img {
  left: 0;
  z-index: 0;
  right: 0;
  bottom: 0;
  top: 0;
  max-width: 700px;
  max-height: 40vh;
}
#small-avatar .jcrop-stage .jcrop-widget {
  background: black;
  opacity: 0.5;
}
#small-avatar .jcrop-stage .jcrop-widget:after {
  content: "";
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#small-avatar .jcrop-stage .jcrop-widget:focus {
  outline: none;
  border: 1px white solid !important;
}

div.circle.empty img {
  object-fit: none !important;
}

div.profile {
  width: 195px;
  height: 195px;
}

.profile-card {
  max-width: 900px;
}

/*# sourceMappingURL=profile.css.map */
