
.fs-7 {
  font-size: 0.9rem !important;
}

.mb-7 {
  margin-bottom: 2.5rem;
}

.radio-label {
  margin-bottom: 0;
}

.mt-7 {
  margin-top: 2.5rem;
}

.mt-6 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 3rem;
}

.mb-6 {
  margin-bottom: 2rem;
}

.mt-6 {
  margin-top: 2rem;
}

.m-6 {
  margin: 2rem;
}
.p-6 {
  padding: 2rem;
}

.mx-6rem {
  margin-left: 6rem;
  margin-right: 6rem;
}

.px-6rem {
  padding-left: 6rem;
  padding-right: 6rem;
}

.w-content {
  width: max-content;
}
